{
  "name": "SmartPool.github.io",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"stylesheets/styles.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "crowdfund/README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass",
      "crowdfund",
      "javascripts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/styles.scss",
      "imports": [
        "sass/node_modules/foundation-sites/scss/foundation.scss",
        "sass/_reset.scss",
        "sass/node_modules/foundation-sites/_vendor/normalize-scss/sass/_normalize.scss",
        "sass/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_missing-dependencies.scss",
        "sass/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_true.scss",
        "sass/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_purge.scss",
        "sass/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_remove.scss",
        "sass/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_replace.scss",
        "sass/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_to-list.scss",
        "sass/node_modules/foundation-sites/scss/settings/_settings.scss",
        "sass/node_modules/foundation-sites/scss/util/_util.scss",
        "sass/node_modules/foundation-sites/scss/_global.scss",
        "sass/node_modules/foundation-sites/scss/grid/_grid.scss",
        "sass/node_modules/foundation-sites/scss/typography/_typography.scss",
        "sass/node_modules/foundation-sites/scss/forms/_forms.scss",
        "sass/node_modules/foundation-sites/scss/components/_visibility.scss",
        "sass/node_modules/foundation-sites/scss/components/_float.scss",
        "sass/node_modules/foundation-sites/scss/components/_button.scss",
        "sass/node_modules/foundation-sites/scss/components/_button-group.scss",
        "sass/node_modules/foundation-sites/scss/components/_accordion-menu.scss",
        "sass/node_modules/foundation-sites/scss/components/_accordion.scss",
        "sass/node_modules/foundation-sites/scss/components/_badge.scss",
        "sass/node_modules/foundation-sites/scss/components/_breadcrumbs.scss",
        "sass/node_modules/foundation-sites/scss/components/_callout.scss",
        "sass/node_modules/foundation-sites/scss/components/_card.scss",
        "sass/node_modules/foundation-sites/scss/components/_close-button.scss",
        "sass/node_modules/foundation-sites/scss/components/_drilldown.scss",
        "sass/node_modules/foundation-sites/scss/components/_dropdown-menu.scss",
        "sass/node_modules/foundation-sites/scss/components/_dropdown.scss",
        "sass/node_modules/foundation-sites/scss/components/_flex.scss",
        "sass/node_modules/foundation-sites/scss/components/_responsive-embed.scss",
        "sass/node_modules/foundation-sites/scss/components/_label.scss",
        "sass/node_modules/foundation-sites/scss/components/_media-object.scss",
        "sass/node_modules/foundation-sites/scss/components/_menu.scss",
        "sass/node_modules/foundation-sites/scss/components/_menu-icon.scss",
        "sass/node_modules/foundation-sites/scss/components/_off-canvas.scss",
        "sass/node_modules/foundation-sites/scss/components/_orbit.scss",
        "sass/node_modules/foundation-sites/scss/components/_pagination.scss",
        "sass/node_modules/foundation-sites/scss/components/_progress-bar.scss",
        "sass/node_modules/foundation-sites/scss/components/_reveal.scss",
        "sass/node_modules/foundation-sites/scss/components/_slider.scss",
        "sass/node_modules/foundation-sites/scss/components/_sticky.scss",
        "sass/node_modules/foundation-sites/scss/components/_switch.scss",
        "sass/node_modules/foundation-sites/scss/components/_table.scss",
        "sass/node_modules/foundation-sites/scss/components/_tabs.scss",
        "sass/node_modules/foundation-sites/scss/components/_title-bar.scss",
        "sass/node_modules/foundation-sites/scss/components/_top-bar.scss",
        "sass/node_modules/foundation-sites/scss/components/_thumbnail.scss",
        "sass/node_modules/foundation-sites/scss/components/_tooltip.scss",
        "sass/node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize/_variables.scss",
        "sass/node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize/_vertical-rhythm.scss",
        "sass/node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize/_normalize-mixin.scss",
        "sass/node_modules/foundation-sites/scss/util/_math.scss",
        "sass/node_modules/foundation-sites/scss/util/_unit.scss",
        "sass/node_modules/foundation-sites/scss/util/_value.scss",
        "sass/node_modules/foundation-sites/scss/util/_color.scss",
        "sass/node_modules/foundation-sites/scss/util/_selector.scss",
        "sass/node_modules/foundation-sites/scss/util/_flex.scss",
        "sass/node_modules/foundation-sites/scss/util/_breakpoint.scss",
        "sass/node_modules/foundation-sites/scss/util/_mixins.scss",
        "sass/node_modules/foundation-sites/scss/grid/_row.scss",
        "sass/node_modules/foundation-sites/scss/grid/_column.scss",
        "sass/node_modules/foundation-sites/scss/grid/_size.scss",
        "sass/node_modules/foundation-sites/scss/grid/_position.scss",
        "sass/node_modules/foundation-sites/scss/grid/_gutter.scss",
        "sass/node_modules/foundation-sites/scss/grid/_classes.scss",
        "sass/node_modules/foundation-sites/scss/grid/_layout.scss",
        "sass/node_modules/foundation-sites/scss/grid/_flex-grid.scss",
        "sass/node_modules/foundation-sites/scss/typography/_base.scss",
        "sass/node_modules/foundation-sites/scss/typography/_helpers.scss",
        "sass/node_modules/foundation-sites/scss/typography/_alignment.scss",
        "sass/node_modules/foundation-sites/scss/typography/_print.scss",
        "sass/node_modules/foundation-sites/scss/forms/_text.scss",
        "sass/node_modules/foundation-sites/scss/forms/_checkbox.scss",
        "sass/node_modules/foundation-sites/scss/forms/_label.scss",
        "sass/node_modules/foundation-sites/scss/forms/_help-text.scss",
        "sass/node_modules/foundation-sites/scss/forms/_input-group.scss",
        "sass/node_modules/foundation-sites/scss/forms/_fieldset.scss",
        "sass/node_modules/foundation-sites/scss/forms/_select.scss",
        "sass/node_modules/foundation-sites/scss/forms/_range.scss",
        "sass/node_modules/foundation-sites/scss/forms/_progress.scss",
        "sass/node_modules/foundation-sites/scss/forms/_meter.scss",
        "sass/node_modules/foundation-sites/scss/forms/_error.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"],\"autoCompile\":false}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}